## To clean the ranking data  set I used the following code:
All the other data sets were used by me in the last lab session also and it was directly scrapped from a website, hence didn't require cleaning. Those data sets were very small as well.

In [1]:
import pandas as pd

In [2]:
from bs4 import BeautifulSoup
import requests

In [35]:
data = pd.read_csv("ranking_final.csv")

In [37]:
data = data.dropna(axis=1, how='all')

In [39]:
final_df= pd.DataFrame(columns=['Rank','University','Location'])

In [41]:
len(data)

25

In [54]:
k=0
for i in range(len(data)) : 
    final_df.loc[i]=( i+1,  data.iloc[i][1].splitlines()[0] , data.iloc[i][1].splitlines()[2].strip())

In [56]:
final_df.to_csv('ranking_1.csv')

In [60]:
final_df

   Rank                                  University             Location
0     1           University of Southern California      Los Angeles, CA
1     2                         Stanford University         Stanford, CA
2     3          California Institute of Technology         Pasadena, CA
3     4          University of California-San Diego         La Jolla, CA
4     5                      Santa Clara University      Santa Clara, CA
5     6                 University of San Francisco    San Francisco, CA
6     7                 Loyola Marymount University      Los Angeles, CA
7     8         University of California-Santa Cruz       Santa Cruz, CA
8     9              California Lutheran University    Thousand Oaks, CA
9    10                      University of Redlands         Redlands, CA
10   11                      University of La Verne         La Verne, CA
11   12              Point Loma Nazarene University        San Diego, CA
12   13                             De Anza College        Cupertino, CA
13   14  Vanguard University of Southern California       Costa Mesa, CA
14   15                            Foothill College  Los Altos Hills, CA
15   16                              Ohlone College          Fremont, CA
16   17                           MiraCosta College        Oceanside, CA
17   18                      Mt San Antonio College           Walnut, CA
18   19                              Sierra College          Rocklin, CA
19   20                          Saddleback College    Mission Viejo, CA
20   21                     Sacramento City College       Sacramento, CA
21   22                       Irvine Valley College           Irvine, CA
22   23                               Norco College            Norco, CA
23   24                             Cypress College          Cypress, CA
24   25                      American River College       Sacramento, CA